<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Login User</title>
</head>
<body>
	<h2>Login</h2>
	<form action="../students/login" method="POST">
		<table border="1">
			<tbody>
				<tr>
					<th>Email</th>
					<td><input type="email" name="email" required="required" /></td>
				</tr>
				<tr>
					<th>Password</th>
					<td><input type="password" name="password" required="required" />
					</td>
				</tr>
				<tr>
					<td>
						<button type="submit">Submit</button>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</body>
</html>